@basic-green: #68B738;

@basic-grey: #F2F2F2;

@special-grey-light: #EBEBEB;

@special-grey: #CDCDCD;

@special-grey-dark: #666666;

@dark-grey:#444444;

@dark-dark-grey: #222222;

@error: #FF8282;

@green: #5EAA2F;

@background: #E5E5E5;

@light-dark: #111111;

@dark: #000000;

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"),
    url("../../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
