.additional-products__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-products__item {
  list-style-type: none;
}

.additional-products__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-dark-grey;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.additional-products__description,
.additional-products__number {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.additional-products__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.additional-products__prize {
  font-family: "Arial", sans-serif;
  color: @dark;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
