.contacts {
  padding: 27px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 368px;

  @media (min-width: @tablet-width) {
    padding: 57px 40px;
    margin-bottom: 423px;
  }

  @media (min-width: @desktop-width) {
    width: 405px;
    padding: 56px 80px;
    margin-top: 95px;
    margin-bottom: 107px;
    background-color: @white;
    z-index: 2;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  color: @light-dark;
  margin: 0;
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 165px;
  }
}

.contacts__text {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  width: 139px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: end;
    line-height: 20px;
    width: 155px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.contacts__text-city {
  content: "";
  position: absolute;
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  width: 139px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  top: 63px;
  right: 21px;
  margin: 0;
  font-style: normal;

  @media (min-width: @tablet-width) {
    top: 118px;
    right: 71px;
    font-size: 16px;
    line-height: 20px;
    width: 155px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    top: 212px;
    right: 845px;
  }
}
