
.example__wrapper {
  background-color: @background-gray;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    background: linear-gradient(to bottom, @white 0 576px, @background-gray 576px 1000px);
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    background: linear-gradient(to bottom, @white 200px, @background-gray 200px 1000px);
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.example__result {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;


  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__parameters {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__list {   /*ПОЧЕМУ ВЫЛЕЗАЕТ!!!!*/
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 20px;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 80px;
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-bottom: 55px;
  }
}

.example__item {
  list-style-type: none;
  margin: 0;
}

.example__number {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__price {
  font-family: "Oswald", sans-serif;
  display: block;
  color: @dark;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 80px;
    width: 174px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
    width: 327px;
    text-align: justify;   /*Как разнести не понятно*/
  }
}

.example__toggle {
  font-family: "Oswald", sans-serif;
  color: @dark;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
