
.example__wrapper {
  background-color: @background-gray;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0;
  margin-bottom: 76px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__result {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.example__parameters {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__list {   /*ПОЧЕМУ ВЫЛЕЗАЕТ!!!!*/
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.example__item {
  list-style-type: none;
  margin: 0;
}

.example__number {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.example__description {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.example__price {
  font-family: "Oswald", sans-serif;
  display: block;
  color: @dark;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.example__toggle {
  font-family: "Oswald", sans-serif;
  color: @dark;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
