
.example__wrapper {
  background-color: @background-gray;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    background: linear-gradient(to bottom, @white 0 576px, @background-gray 576px 1000px);
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    padding: 0 110px;
    background: linear-gradient(to bottom, @white 200px, @background-gray 200px 1000px);
  }
}

.example__description-wrapper {
  display: block;

  @media (min-width: @desktop-width) {
    padding-top: 69px;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0;
  margin-bottom: 41px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 151px;
  }
}

.example__result {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;


  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__parameters {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__list {   /*ПОЧЕМУ ВЫЛЕЗАЕТ!!!!*/
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 33px;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 80px;
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-bottom: 49px;
  }
}

.example__item {
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0;
  border: 1px solid @special-grey;
  box-sizing: border-box;
  padding: 14px 42px 17px 42px;
  border-radius: 3px;

  &:last-of-type {
    padding: 14px 21px 17px 21px;
  }

  @media (min-width: @tablet-width) {
    padding: 15px 56px 18px 57px;

    &:last-of-type {
      padding: 15px 30px 20px 30px;
    }
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  color: @dark;
  display: block;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__number--weight {
  width: 39px;

  @media (min-width: @tablet-width) {
    width: 48px;
  }
}

.example__number--time {
  width: 82px;

  @media (min-width: @tablet-width) {
    width: 102px;
  }
}

.example__description {
  position: absolute;
  display: block;
  text-align: center;
  top: 46px;
  left: 21px;
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0 auto;
  width: 77px;
  background-color: @background-gray;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  z-index: 2;

  @media (min-width: @tablet-width) {
    background-color: @white;
    font-size: 14px;
    line-height: 14px;
    top: 62px;
    left: 18px;
    width: 127px;
  }

  @media (min-width: @desktop-width) {
    background-color: @background-gray;
  }
}

@media (max-width: @mobile-width-only) {
  .example__item:last-of-type .example__description {
    width: 59px;
    left: 33px;
  }
}

.example__price {
  font-family: "Oswald", sans-serif;
  display: block;
  color: @dark;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 27px;
    margin-top: 7px;
    width: 174px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
    width: 327px;
    text-align: justify;   /*Как разнести не понятно*/
  }
}

.example__img-toggle {
  position: relative;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 30px;
  }
}

.example__image-wrapper {
  display: block;
  width: 280px;
  height: 232px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
    margin-bottom: 29px;
  }
}

.example__image {
  display: block;
  width: 280px;
  height: 232px;

  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
  }
}


.example-slider {
  content: "";
  display: block;
  position: absolute;
  right: 98px;
  top: 239px;
  height: 14px;
  width: 85px;
  background-color: @white;
  border: 1px solid @special-grey;
  box-sizing: border-box;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    right: 81px;
    top: 541px;
    height: 6px;
    width: 426px;
    background-color: @special-grey;
    border: none;
  }

  @media (min-width: @desktop-width) {
    top: 568px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 42px;
    top: 3px;
    height: 6px;
    width: 36px;
    border-radius: 6px;
    z-index: 2;
    background-color: @basic-green;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      right: 197px;
      top: -16px;
      height: 34px;
      width: 34px;
      z-index: 1;
      border-radius: 50%;
      background-color: @white;
      border: 1px solid @special-grey;
      box-sizing: border-box;
    }
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      display: block;
      position: absolute;
      right: 210px;
      top: -3px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: @basic-green;
      border: none;
      z-index: 3;
    }
  }

  &:hover::after {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));  /*Как заменить?*/
  }

  &:active::after {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
  }
}


.example-toggle-wrapper {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
  width: 212px;

  @media (min-width: @tablet-width) {
    width: 582px;
    padding-bottom: 61px;
  }
}

.example__toggle {
  font-family: "Oswald", sans-serif;
  color: @dark;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  background-color: @background-gray;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      top: 32px;
      left: 8px;
      width: 47px;
      opacity: 0.4;
      border: 1px solid @dark;
    }
  }
}
