.form {
  display: flex;
  flex-wrap: wrap;
}

.form__questionnaire {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    column-gap: 80px;
    justify-content: space-between;
  }
}

.form__form-contacts,
.form__additionally {
  margin: 0;
  padding: 0;
}
