.form-contacts__title {
  position: relative;
  display: block;
  font-family: "Oswald", sans-serif;
  color: @dark;
  width: 187px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 33px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: calc(100% + 20px);
    width: calc(100vw - 100% - 40px);
    height: 2px;
    background-color: @basic-green;
  }

  @media (min-width: @tablet-width) {
    width: fit-content;
    font-size: 36px;
    line-height: 36px;
    margin-top: 29px;
    margin-bottom: 76px;

    &::after {
      top: 20px;
      left: calc(100% + 40px);
      width: calc(100vw - 100% - 110px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: calc(100% + 40px);
      width: 100vw;
      height: 2px;
      background-color: @basic-green;
    }

    @media (min-width: @desktop-width) {
      &::after {
        width: calc(100vw - 100% - 146px);
      }
    }
  }
}

.form-contacts__wrapper {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;

    justify-content: space-between;
    margin-bottom: 67px;
  }
}

.form-contacts__item {
  display: flex;
  position: relative;
  align-items: center;
  list-style-type: none;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 572px;
  }
}

.form-contacts__label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 21px;
  }
}

.form-contacts__img {
  content: "";
  position: absolute;
  top: 16px;
  right: 13px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.form-contacts__img--mail {
  stroke: @dark;
}

&:focus {
  stroke: @basic-green;
}

&:disabled {
  stroke: @error;
}

.form-contacts__img--phone {
  fill: @dark;
}

.form-contacts__img:focus {
  fill: @basic-green;
}

.form-contacts__img:disabled {
  fill: @error;
}

.form-contacts__input {
  display: flex;
  text-align: start;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  flex-grow: 1;
  padding-left: 16px;

  &:hover {
    outline: 1px solid @special-grey;
  }

  &:focus {
    outline: 2px solid @dark-grey;
  }

  &:disabled {
    outline: 2px solid @error;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 46px;
  }
}


.form-contacts__input::-webkit-input-placeholder {
  font-family: "Oswald", sans-serif;
  color: @dark-grey;
}

.form-contacts__input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  color: @dark-grey;
}

.form-contacts__input:-ms-input-placeholder {
  font-family: "Oswald", sans-serif;
  color: @dark-grey;
}

.form-contacts__input:-moz-placeholder {
  font-family: "Oswald", sans-serif;
  color: @dark-grey;
}
