.form-contacts__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form-contacts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-contacts__item {
  list-style-type: none;
}

.form-contacts__label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.form-contacts__input::-webkit-input-placeholder {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.form-contacts__input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.form-contacts__input:-ms-input-placeholder {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.form-contacts__input:-moz-placeholder {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
