.nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 24px;
  background-color: @white;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 24px;
  height: 2px;
  background-color: @dark;
  box-shadow: 0 8px 0 0 @dark, 0 16px 0 0 @dark;
}

.nav--closed .nav__toggle:hover::before,
.nav--closed .nav__toggle:focus::before {
  background-color: fade(@dark, 60%);
  box-shadow:
    0 8px 0 0 fade(@dark, 60%),
    0 16px 0 0 fade(@dark, 60%);
}


.nav--closed .nav__toggle:active::before {
  background-color: fade(@dark, 30%);
  box-shadow:
    0 8px 0 0 fade(@dark, 30%),
    0 16px 0 0 fade(@dark, 30%);
}

.nav--opened .nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 6px;
    width: 25px;
    height: 2px;
    background-color: @dark;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(@dark, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@dark, 30%);
  }
}

.nav--opened .nav__wrapper {
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  z-index: 10;
  min-height: 35vh;
  background-color: @white;

  @media (min-width: @tablet-width) {
    position: static;
    min-height: 103px;
  }
}

.nav--nojs .nav__toggle {
  display: none;
}


/*@media (max-width: @mobile-width-only) {
  .nav__list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .nav__list {
    display: flex;
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .nav__list {
    display: flex;
    width: 478px;
  }
}


@media (min-width: @tablet-width) {
  .nav__toggle {
    display: none;
  }
}*/

