.page-header {
  width: 100%;
  position: relative;
}

@media (min-width: @desktop-width) {
  .page-header--index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 694px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-desktop.png") no-repeat;
    background-color: #504f54;
    background-size: cover;
    z-index: 1;
  }
}

.page-header__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
  min-height: 65px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    width: 708px;
    flex-direction: row;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.page-header__logo {
  position: relative;
  display: block;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 90px;
      top: 25px;
      background-color: @white;
      background-image: url("../../img/logo-header-mobil.svg");
      height: 18px;
      width: 101px;
    }
  }
}

.page-header__logo img {
  width: 33px;
  height: 37px;
  cursor: pointer;
  padding: 11px 0 12px 0;

  &:hover,
  &:active {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    display: block;
    width: 174px;
    height: auto;
    padding: 24px 0 31px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0;
    width: 202px;
  }
}
