.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.page-footer__map {
  content: "";
  top: 113px;
  left: 0;
  position: absolute;
  display: block;
  border: none;
  width: 320px;
  height: 362px;

  @media (min-width: @tablet-width) {
    top: 199px;
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    top: 0;
    z-index: 1;
  }
}


.page-footer__map::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;                      /*Не работает!!!!*/
  background-color: @white;
  background-image: url("../../img/map-pin-mobil.png");
  height: 53px;
  width: 57px;
}

.page-footer__wrapper--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  cursor: pointer;
  margin-top: 39px;
  margin-bottom: 32px;
}

.page-footer__img {
  width: 128px;
  height: 24px;
  margin: 0 auto;
}
