.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: @basic-grey;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    background-color: @basic-grey;
  }
}

@media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
  .page-footer__wrapper--index {
    background: linear-gradient(to bottom, @white 0 252px, @basic-grey 252px 1000px);
  }
}

.page-footer__map {
  content: "";
  top: 113px;
  left: 0;
  position: absolute;
  display: block;
  border: none;
  width: 320px;
  height: 362px;

  @media (min-width: @tablet-width) {
    top: 192px;
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    top: 0;
    z-index: 1;
  }
}


.page-footer__map::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;                      /*Не работает!!!!*/
  background-color: @white;
  background-image: url("../../img/map-pin-mobil.png");
  height: 53px;
  width: 57px;
}

.page-footer__wrapper--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}

.page-footer__logo {
  display: block;
  cursor: pointer;
  margin: 39px 4px 50px 0;

  @media (min-width: @tablet-width) {
    margin: 45px 25px 41px 0;
  }
}

.page-footer__img {
  width: 128px;
  height: 24px;
  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin-top: 43px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 163px;
    margin: 0;
  }
}

.page-footer__copyright-text {
  display: block;
  width: 114px;
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  padding-top: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.social__copyright-html {
  display: block;
  height: 34px;
  width: 27px;
}
