.process__wrapper {
  padding: 0 20px 55px 20px;
}

.process__list {
  padding: 0;
}

.process__item {
  list-style-type: none;
}

.process__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.process__description {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
