.process__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 49px 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px 90px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px 69px 110px;
  }
}

.process__list {
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 37px 153px;
    margin-right: 80px;

    &::after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: -30px;
      width: 768px;
      border: 1px solid @grey-line;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 77px;
    margin: 0;
    border: none;   /*Как отключить?*/
  }
}

.process__item {
  display: flex;
  list-style-type: none;

  &:last-of-type {    /*как это отменить на таблете?*/
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 245px;
    margin-top: 151px;
    margin-bottom: 51px;
  }
}

.process__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 183px;
  }
}

.process__description {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
