.programs__wrapper {
  padding: 20px;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  position: relative;
  color: @dark;
  z-index: 5;
  margin-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.programs__title::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 302px;
  /*background-image: url("../../img/index-background-desktop.png");*/
  z-index: 1;
  background-color: rgba(104, 183, 56, 0.85);
}

.programs__description {
  font-family: "Oswald", sans-serif;
  color: @dark;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 302px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs__button {
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
