.program {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  @media (min-width: @tablet-width) {
    gap: 30px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 80px;
    padding-bottom: 71px;
  }
}

.program__item {
  list-style-type: none;
  background-color: @basic-grey;
}

.program__link-cat {
  position: relative;
  display: block;
  margin: 0;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 21px;
    top: 25px;
    background-color: @basic-green;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      left: 420px;
      top: 87px;
    }
  }
}

.program__link-cat--slim img {
  display: block;
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 22px;
  width: 36px;
  height: 50px;


  @media (min-width: @tablet-width) {
    display: block;
    left: 441px;
    top: 64px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0;
    width: 202px;
    z-index: 0;
  }
}

.program__link-cat--pro img {
  display: block;
  position: absolute;
  z-index: 2;
  left: 14px;
  top: 35px;
  width: 67px;
  height: 28px;


  @media (min-width: @tablet-width) {
    display: block;
    left: 441px;
    top: 64px;
    width: 268px;
    height: 112px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0;
    width: 202px;
  }
}

.program__title {
  width: 137px;
  margin: 30px 52px 30px 91px;
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 24px;
  padding: 0;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    width: 206px;
    font-size: 36px;
    line-height: 36px;
    margin: 77px 449px 24px 53px;
  }

  @media (min-width: @desktop-width) {
    margin: 77px 150px 73px 214px;
  }
}

.program__description {
  display: block;
  position: relative;
  font-family: "Arial", sans-serif;
  width: 227px;
  margin: 0 33px 42px 20px;
  color: @dark-grey;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    color: @dark;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 316px 48px 52px;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    margin: 0 51px 29px 52px;
  }
}

@media (max-width: @mobile-width-only) {
  .program__description::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 240px;
    border: 1px solid @grey-line;
  }
}

.program__link {
  display: block;
  width: 89px;
  position: relative;
  margin: 0 175px 22px 19px;
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    top: 2px;
    right: -44px;
    background-color: transparent;
    background-image: url("../../img/arrow-mobil.svg");

    @media (min-width: @tablet-width) {
      top: 5px;
      right: 15px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 108px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 548px 57px 52px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 410px 59px 52px;
  }
}
