.programs {
  display: block;
  position: relative;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 302px;
      width: 100%;
      z-index: 1;
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-mobil.png") no-repeat;
      background-color: #504f54;
      background-position: center;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-mobil@2x.png") no-repeat;
        background-position: center;
        background-color: #504f54;
        background-size: auto 302px;
      }
    }
  }
}


.programs__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.programs__slogan {
  z-index: 3;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-left: 87px;
    padding-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    padding-bottom: 267px;
  }
}

.programs__image-wrapper {
  position: relative;
  display: block;
  margin: 0;
}

.programs__image-wrapper img {
  position: absolute;
  display: block;
  background: transparent;
  z-index: 2;
  left: 0;
  top: 167px;
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    left: 0;
    top: 234px;
    width: 708px;
    height: 609px;
    z-index: 0;
  }

  @media (min-width: @desktop-width) {
    left: 448px;
    top: -27px;
    width: 552px;
    height: 499px;
    z-index: 2;
  }
}

.programs__title {
  display: block;
  font-family: "Oswald", sans-serif;
  color: @white;
  z-index: 5;
  margin-top: 27px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @dark;
    text-align: left;
    margin: 31px 207px 42px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 56px 726px 40px 0;
  }
}

/*@media (max-width: @mobile-width-only) {
  .programs__wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 2;
    height: 302px;
    width: 320px;
    background-repeat: no-repeat;
    background-color: rgba(104, 183, 56, 0.85);
  }

  .programs__wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    height: 302px;
    width: 320px;
    background-image: url("../../img/index-background-mobil.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-background-mobil@2x.png");
      background-size: cover;
    }
  }
}*/

.programs__description {
  font-family: "Oswald", sans-serif;
  color: @white;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 302px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @dark;
    text-align: left;
    margin: 0 336px 50px 2px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 857px 54px 0;
  }
}

.programs__button {
  font-family: "Oswald", sans-serif;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  color: @white;
  background-color: @basic-green;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;

  &:hover,
  &:focus {
    background-color: @green;
  }

  &:active {
    color: fade(@dark, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 246px;
    padding: 15px 0 16px 0;
    margin-left: 3px;
    font-size: 20px;
    line-height: 20px;
  }
}
