.programs-type {
  margin: 0;
  position: relative;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: -20px;
      width: 320px;
      border: 1px solid @special-grey;
    }
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @special-grey-white;
    box-sizing: border-box;
    padding: 26px 0;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-bottom: 38px;
    padding: 31px 0;
  }
}

.programs-type__item {
  list-style-type: none;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {

    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.programs-type__label {
  position: relative;
  cursor: pointer;

  &:disabled {
    opacity: 0.25;
  }
}

.programs-type__square {
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: @white;
  border-radius: 50%;
  border: 1px solid @special-grey;
  cursor: pointer;

  &:hover {
    border: 1px solid @input-hover;
  }

  @media (min-width: @tablet-width) {
    left: 29px;
    top: -10px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    left: 24px;
    top: -11px;
  }
}

.programs-type__input[type="radio"]:checked + .programs-type__square::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    left: 11px;
    top: 12px;
    width: 18px;
    height: 18px;
  }
}

.programs-type__name {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark-dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 45px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 88px;
  }
}

.programs-type__input[type="radio"]:disabled + .programs-type__square {
  opacity: 0.3;
}

.programs-type__input[type="radio"]:disabled + .programs-type__name {
  opacity: 0.3;
}
