.selection__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 66px 0 71px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.selection__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.selection__description {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.selection__form {
  display: flex;
  flex-direction: column;
}


.selection__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.selection__required {
  font-family: "Arial", sans-serif;
  color: @dark;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

