.selection__title {
  font-family: "Oswald", sans-serif;
  color: @dark;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.selection__description {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.selection__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @dark;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.selection__required {
  font-family: "Arial", sans-serif;
  color: @dark;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
